.usercard {
	height: 313px;
	background-color: #fff;
	border-radius: 10px;

	&:last-child {
		margin-top: 9px;
	}
	@media (min-width: ($md3 + px)) {
		&:last-child {
			margin-top: 0px;
		}
	}
	&__body {
		height: inherit;
		margin: 0px 30px;
		padding-top: 36px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.item-card {
	text-align: center;
	position: relative;
	width: 100%;
	&[data-title]:before {
		content: attr(data-title);
		position: absolute;
		top: calc(100% + 10px);
		left: 25px;
		max-width: 100%;
		background-color: #232f34;
		color: #fff;
		min-height: 32px;
		border-radius: 4px;
		padding: 3px 15px;
		z-index: 15;
		opacity: 0;
		visibility: hidden;
	}
	&[data-title]:hover,
	&[data-title]:focus {
		&::before {
			transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
			opacity: 1;
			visibility: visible;
		}
	}
	&__img {
		margin-bottom: 15px;
		img {
			width: 70px;
			height: 70px;
			border-radius: 50%;
		}
	}
	&__name {
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 4px;
		@include cut_string_elips(2);
	}
	&__position {
		@include cut_string_elips(2);
	}
	&__contacts {
		@include cut_first_string;
	}
}
