.article-main {
	&__container {
	}
	&__body {
		width: inherit;
		margin: 145px 0px;
		display: flex;
		flex-direction: column;

		@media (min-width: ($md3 + px)) {
			flex-direction: row;
			margin: 169px 0 175px 0;
		}
		@media (min-width: ($md2 + px)) {
			margin: 175px 0;
		}
		@media (min-width: ($md1 + px)) {
			margin: 180px 0 175px 0;
		}
	}
	&__img {
		margin-bottom: 40px;
		@media (min-width: ($md3 + px)) {
			margin-bottom: 0px;
			margin-right: 12px;
			flex: 1 0 296px;
		}
		@media (min-width: ($md2 + px)) {
			margin-right: 40px;
			flex: 1 0 387px;
		}
		@media (min-width: ($md1 + px)) {
			margin-right: 103px;
		}
		img {
			width: 100%;
		}
	}
	&__article {
		@media (min-width: ($md3 + px)) {
			text-align: end;
		}
	}
}

// ._rigth {
// 	text-align: end;
// 	// display: inline-flex;
// 	// justify-content: flex-end;
// 	// span {
// 	// 	border: 1px solid rgb(6, 160, 101);
// 	// }
// }
