.article-main {
	border: 1px solid #000;
	&__container {
		padding-right: 15px;
		border: 1px solid rgb(207, 28, 28);
	}
	&__body {
		width: inherit;
		margin: 145px 0px;
		display: flex;
		flex-direction: column;
		border: 1px solid rgb(110, 15, 218);
		@media (min-width: ($md3 + px)) {
			flex-direction: row;
			margin: 169px 0 175px 0;
		}
		@media (min-width: ($md2 + px)) {
			margin: 175px 0;
		}
		@media (min-width: ($md1 + px)) {
			margin: 180px 0 175px 0;
		}
	}
	&__img {
		margin-bottom: 40px;

		border: 1px solid rgb(22, 231, 14);

		@media (min-width: ($md3 + px)) {
			margin-bottom: 0px;
			margin-right: 12px;
			flex: 1 0 296px;
		}
		@media (min-width: ($md2 + px)) {
			margin-right: 40px;
			flex: 1 0 387px;
		}
		@media (min-width: ($md1 + px)) {
			margin-right: 103px;
		}
		img {
			width: 100%;
			border: 1px solid rgb(22, 231, 14);
		}
	}
	&__article {
		@media (min-width: ($md3 + px)) {
			text-align: end;
		}

		border: 1px solid rgb(190, 12, 131);
	}
}
