@import "./userCard.scss";

.main {
	margin-top: 60px;
	min-height: calc(100vh - 266px);
	@media (min-width: ($md3 + px)) {
		min-height: calc(100vh - 294px);
	}
	flex: 1 0 100%;
}

@import "./banner.scss";
