.item-menu {
	padding: 0px 0px 0px 10px;
	margin-left: 8px;
	margin-right: 8px;
	max-width: 200px;
	height: 40px;
	line-height: $lineHeight;
	display: flex;
	align-items: center;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	&:hover,
	&:focus {
		background-color: rgba($color: $secondaryColor, $alpha: 0.1);
		color: $secondaryColor;
		border-radius: 4px;
	}
	&:not(:last-child) {
		margin-bottom: 8px;
	}
	@media (min-width: ($md2 + px)) {
		padding: 0px 14px 0px 14px;
		margin-left: 0px;
		margin-right: 0px;
		&:not(:last-child) {
			margin-bottom: 0px;
			margin-right: 3px;
		}
	}

	a {
		@include cut_first_string;
	}
}
