.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 60px;
	display: flex;
	align-items: center;
	z-index: 100;

	transition: background-color 0.3s ease 0s;
	box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.15), 0px 4px 15px rgba(0, 0, 0, 0.15);
	&__lock {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		display: none;
		&._active {
			display: block;
		}
	}
	&__container {
		display: flex;
		flex: 1 0 100%;
	}

	&__body {
		position: fixed;
		background-color: #fff;
		top: 0;
		left: 0;
		height: 100vh;
		width: 270px;
		display: flex;
		flex-direction: column;
		transform: translateX(-105%);
		z-index: 20;

		@media (min-width: ($md2 + px)) {
			position: relative;
			height: inherit;
			width: inherit;
			display: flex;
			flex-direction: row;
			flex: 1 0 100%;
			justify-content: space-between;
			align-items: center;
			transform: translateX(0);
		}
		&._active {
			transform: translateX(0);
			transition: transform 0.3s ease 0s;
		}
		&._transition {
			transition: transform 0.3s ease 0s;
		}
	}
	&__logo {
	}

	&__menu {
	}
	&__burger {
	}
}
@import "./logo/logo.scss";
@import "./Menu/menu.scss";
@import "./burgerMenu/burgerMenu.scss";
