.banner {
	position: relative;
	margin-top: 60px;
	background-color: #edecea;
	max-height: 469px;
	overflow: hidden;
	animation: bg_opacity 1s ease-in-out;
	@media (min-width: ($md3 + px)) {
		max-height: 500px;
		height: calc(100vh - 60px);
	}
	@media (min-width: ($md2 + px)) {
		max-height: 650px;
	}

	&__bg {
		position: absolute;
		bottom: -23px;
		left: calc(50%);
		transform: translateX(calc(-50%));
		width: $md1 + px;
		height: 380px;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;

		@media (min-width: ($md3 + px)) {
			top: 0;
			left: calc(50% + 12px);
			transform: translateX(-50%);
			height: 100%;
		}
		@media (min-width: ($md2 + px)) {
			left: calc(50%);
		}
	}

	&__container {
		z-index: 30;
		max-height: inherit;
		position: relative;
	}
	&__article {
		padding: 51px 0px;
		max-width: 240px;

		@media (min-width: ($md3 + px)) {
			padding: 80px 0px;
			max-width: 424px;
		}
		@media (min-width: ($md2 + px)) {
			padding: 174px 0px 185px 0;
			max-width: 670px;
		}
	}
}
.article {
	display: flex;
	flex-direction: column;

	&__title {
		font-size: 40px;
		line-height: 40px;
		padding-right: 25px;
		margin-right: -25px;

		@include cut_string_elips(4);
		@media (min-width: ($md2 + px)) {
			padding-top: 10px;
		}
	}
	&__subtitle {
		font-size: 22px;
		line-height: 28px;
		margin-top: 10px;
		padding-right: 25px;
		margin-right: -25px;

		@include cut_string_elips(2);
	}
	&__article {
		margin-top: 20px;
		margin-bottom: 32px;

		padding-right: 25px;
		margin-right: -25px;
		@include cut_string_elips(4);

		@media (min-width: ($md3 + px)) {
			padding-top: 3px;
			@include cut_string_elips(6);
		}
		@media (min-width: ($md2 + px)) {
			max-width: 540px;
		}
		@media (min-width: ($md1 + px)) {
			margin-top: 20px;
		}
	}
	&__article-art {
		@include cut_string_elips(8);
		@media (min-width: ($md3 + px)) {
			padding-top: 0px;
		}

		@media (min-width: ($md1 + px)) {
			margin-top: 20px;
			max-width: none;
		}
	}
	&__btn {
	}
	&__btn-art {
		@media (min-width: ($md3 + px)) {
			display: flex;
			justify-content: flex-end;
		}
	}
}
