.article-main {
	&__container {
	}
	&__body {
		width: inherit;
		margin: 145px 0px;
		display: flex;
		flex-direction: column;

		@media (min-width: ($md3 + px)) {
			flex-direction: row;
			margin: 176px 0 175px 0;
		}
		@media (min-width: ($md2 + px)) {
			margin: 175px 0 173px 0;
		}
		@media (min-width: ($md1 + px)) {
			margin: 180px 0 190px 0;
			justify-content: space-between;
		}
	}
	&__img {
		margin-bottom: 40px;

		@media (min-width: ($md3 + px)) {
			margin-top: 51px;
			margin-bottom: 0px;
			margin-right: 12px;
			flex: 1 0 296px;
			height: 260px;
		}
		@media (min-width: ($md2 + px)) {
			margin-top: 0px;
			flex: 1 0 387px;
			height: 340px;
		}
		@media (min-width: ($md1 + px)) {
			margin-right: 103px;
			max-width: 387px;
		}
		img {
			width: 100%;
		}
	}
	&__article {
		@media (min-width: ($md3 + px)) {
			text-align: end;
			padding-left: 28px;
		}
		@media (min-width: ($md2 + px)) {
			padding-top: 4px;
			margin-right: 1px;
		}
		@media (min-width: ($md1 + px)) {
			padding-top: 20px;
			padding-left: 0;
			min-width: 680px;
		}
	}
}
