.burger {
	flex: 1 0 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
	}
	&__btn {
		width: 24px;
		height: 24px;
		img {
			width: 100%;
		}
	}
	@media (min-width: ($md2 + px)) {
		display: none;
	}
}
