.menu {
	margin: 0px 0 7px 0px;
	overflow-y: auto;

	@media (min-width: ($md2 + px)) {
		overflow-y: visible;
		margin: 0;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		@media (min-width: ($md2 + px)) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__sublist {
		padding: 23px 0px;
		&:not(:last-child) {
			border-bottom: 1px solid #e0e0e0;
		}
		&:first-child {
			border-top: 1px solid #e0e0e0;
		}
	}

	&__item {
		padding: 0px 0px 0px 16px;
		margin-left: 8px;
		margin-right: 8px;
		max-width: 200px;
		height: 40px;
		line-height: $lineHeight;
		display: flex;
		align-items: center;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		&:hover,
		&:focus {
			background-color: rgba($color: $secondaryColor, $alpha: 0.1);
			color: $secondaryColor;
			border-radius: 4px;
		}
		&:not(:last-child) {
			margin-bottom: 2px;
		}

		@media (min-width: ($md2 + px)) {
			padding: 8px 16px;
			margin: 0px 0px 0px 0px;
		}
		a {
			@include cut_first_string;
			text-transform: capitalize;
		}
	}
}
