.footer {
	// position: fixed;
	// width: 100%;
	// top: 100%;
	// left: 0;
	// transform: translateY(-100%);
	display: flex;
	flex-direction: column;

	&__foot-img {
		height: 124px;
		margin-top: 25px;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		background-color: $bgColor;
		@media (min-width: ($md3 + px)) {
			height: 177px;
			margin-top: 0px;
		}
	}
	&__text {
		height: 57px;
		text-align: center;
		line-height: 57px;
		background-color: #fff;
		@include cut_first_string;
	}
}
