.main {
	margin-top: 60px;
	min-height: calc(100vh - 266px);
	@media (min-width: ($md3 + px)) {
		min-height: calc(100vh - 294px);
	}
	flex: 1 0 100%;
	display: flex;
	flex-direction: column;
	&__login {
		margin-top: 145px;
		@media (min-width: ($md3 + px)) {
			margin-top: 175px;
		}
	}
}

@import "./Banner/banner.scss";
@import "./Article/article.scss";
@import "./Users/users.scss";
