.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	animation: show-modal 0.3s ease;
	&__text-box {
		margin-top: 16px;
		width: 328px;
		border-radius: 4px;
		background-color: #fff;
		@media (min-width: ($md3 + px)) {
			width: 452px;
		}
		@media (min-width: ($md2 + px)) {
			margin-top: 10px;
		}
	}
	&__wrapper {
		margin: 24px;
	}
	&__titile {
		font-size: 22px;
		line-height: 31px;
		margin-bottom: 4px;
	}
	&__text {
		margin-bottom: 33px;
	}
	&__btn {
		display: flex;
		justify-content: flex-end;
	}
}

@keyframes show-modal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
